#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.flex-gap {
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.list-container {
  width: 100%;
}

select {
  width: 100px;
  border: 1px solid rgb(230, 230, 230);
  background: none;
  padding: 6px;
}

.list {
  padding: 12px;
  margin: 4px;
  border-radius: 12px;
  border: 1px solid rgb(230, 230, 230);
}

p {
  font-size: 12px;
  width: 72px;
}

.title-container {
  padding-left: 187px;
  padding-right: 26px;
  display: flex;
  justify-content: space-between;
}

button {
  float: right;
  background-color: black;
  color: white;
  margin-top: 12px;
}
